.wrapper {
  margin: 15px 0;
  display: flex;
  width: 32%;
  margin-right: 2%;
  .stores {
    display: flex;
    flex-direction: column;
    background-color: rgba(35, 36, 59, 1);
    background-image: linear-gradient(
      180deg,
      rgba(35, 36, 59, 1) 50%,
      rgba(48, 50, 86, 1) 100%
    );
    box-shadow: -10px -10px 20px #090d1f, 10px 10px 20px #111739;
    border-radius: 15px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    align-items: center;
  }
}
