.wrapper {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
  margin-right: 2%;
  align-items: center;
  background-color: rgba(35, 36, 59, 1);
  box-shadow: -10px -10px 20px #090d1f, 10px 10px 20px #111739;
  border-radius: 15px;
  background-image: linear-gradient(
    180deg,
    rgba(35, 36, 59, 1) 50%,
    rgba(48, 50, 86, 1) 100%
  );
  overflow: hidden;
  @media only all and (max-width: 920px) {
    width: 100%;
  }
  h2 {
    margin: 10px 0 10px 0;
  }
  .screenShots {
    cursor: pointer;
    overflow: hidden;
    background-color: rgba(35, 36, 59, 1);
    background-image: linear-gradient(
      180deg,
      rgba(35, 36, 59, 1) 50%,
      rgba(48, 50, 86, 1) 100%
    );

    img {
      width: 100%;
      height: 100%;
    }
  }
}
