.wrapper {
  display: flex;
  height: 70px;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  @media only all and (max-width: 520px) {
    justify-content: center;
  }
  .wrapperNav {
    display: flex;
    a {
      text-decoration: none;
      color: currentColor;
      margin-inline: 10px;
      align-items: center;
      display: flex;
      @media only all and (max-width: 640px) {
        margin-inline: 5px;
      }
      p {
        padding: 10px;
        &:hover {
          background: #23243b;
          border-radius: 5px;
        }
      }
    }
    .selected {
      p {
        padding: 10px;
        background: #23243b;
        border-radius: 5px;
      }
    }
  }
}
