.wrapper {
  display: flex;
  margin-left: 30px;
  img {
    width: 20px;
    margin-right: 5px;
  }
  input {
    background-color: #23243b;
    border: none;
    border-radius: 10px;
    color: white;
  }
}
