.wrapper {
  color: #fff;
  .list {
    list-style: none;
    display: flex;
    a {
      color: #fff;
      font-size: 20px;
      padding-inline: 10px;
      text-decoration: none;
      &:hover {
        background: #23243b;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .selected {
      background: #23243b;
      border-radius: 5px;
    }
    .arrowRight {
      width: 25px;
      height: 25px;
      transform: rotate(180deg);
      cursor: pointer;
    }
    .arrowLeft {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}
